DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/aucbot
BOT_TOKEN=your_telegram_bot_token
STALCRAFT_CLIENT_ID=1460
STALCRAFT_CLIENT_SECRET=your_secret
STALCRAFT_API_URL=https://eapi.stalcraft.net
STALCRAFT_AUTH_URL=https://exbo.net/oauth/token
GITHUB_TOKEN=your_github_token_optional
APP_SECRET_TOKEN=your_secret_token_here
